name: Deploy GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    # asia/tokyo: 00:00
    - cron: '0 15 * * *'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # fetch feeds
      - name: Set up Go
        uses: actions/setup-go@v6
      - name: Fetch feed
        run: go run .
        working-directory: .

      # frontend
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "22"
      - name: install
        run: npm install
      - name: build
        run: npm run production
      - name: setup pages
        uses: actions/configure-pages@v5
      - name: upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./frontend/dist"
      - name: deploy
        uses: actions/deploy-pages@v4
        id: deployment
